.etage{
    width:100% ;
    height:300px ;
    margin-left: :auto ;
    margin-right: auto ;
    margin-bottom :10px;
    
    
}
.right{
    height: 300px;
    width: 49.4% ;
    display : inline ;
    float :right;
    
        
}
.left {
    height :300px;
    width: 49.4% ;
    display : inline ;
    float :left;

}
.grey{
    background-color:rgb(224, 224, 209);
}
.black{
    background-color:	rgb(54, 54, 48);
    
    color :white;
}

.all{
    
    width: 80%;
    margin-left: auto ;
    margin-right: auto ;
    font-family: 'Ropa Sans', sans-serif;
    text-align: justify;

}
p{
    margin-left: 30px;
    margin-right:30px;

}

.etage  > div:hover {
    outline: 5px solid black;
    outline-offset: -5px;
    transition-duration:  all 0.5s;

}
#ti{
    font-weight: bold;
    color: rgb(34, 50, 95);
    font-size: 4em;
    font-family: 'Bree Serif', serif;
    margin: 30px 0 40px 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.header{
    
    background-image:url("../res/cover3.jpg") ;
    height:500px;
    box-shadow:0px 4px 4px rgb(15, 15, 15);
    background-size:cover;
    display:flex;
    justify-content:center;
    margin-bottom:100px;
    

}

#co{
    color:white;
    max-resolution: top 2.5px;
    text-align:center;
    align-self:center;
    font-family: "Times New Roman", Times, serif;
    font-size: 6em;
    
    
}
 body,html{
     margin:0;
 }
.di{
    margin: 15px;
    padding: 15px;

}
